/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

body.page-suscribir header, body.page-suscribir-b header, body.page-suscribir-gracias header{
	display: none;
}

body.page-suscribir .footer .block-panels-mini .panels-flexible-region:first-child,
body.page-suscribir-b .footer .block-panels-mini .panels-flexible-region:first-child,
body.page-suscribir-gracias .footer .block-panels-mini .panels-flexible-region:first-child{
	color: #fff;
}
body.page-suscribir .footer .block-panels-mini .pane-title, body.page-suscribir-b .footer .block-panels-mini .pane-title,
body.page-suscribir-gracias .footer .block-panels-mini .pane-title{
	font-size: 1rem;
}

body.page-suscribir .footer i, body.page-suscribir-b .footer i{
	color: #fff;
	margin-left: 20px;
}

#block-panels-mini-footer-suscribe h3, #block-panels-mini-footer-suscribe .pane-content > p{
	display: inline-block;
}

body.page-suscribir .main-container, body.page-suscribir-b .main-container, body.page-suscribir-gracias .main-container{
	padding-top: 40px;
}
	
body.page-suscribir, body.page-suscribir-b, body.page-suscribir-gracias{
	background-image: url(../images/background-suscribe.jpg);
}

body.page-suscribir h2, body.page-suscribir-b h2, body.page-suscribir-gracias h2{
	color: #fff;
}

body.page-suscribir .suscribir_description p, body.page-suscribir-b .suscribir_description p, body.page-suscribir-gracias .suscribir_description p{
	color: #aaa;
}
.panels-flexible-region.panels-flexible-region-first.logo-suscribe{
	padding: 0px 0px 100px;
}
.logo-blanco{
background: url(../images/logo-blanco.png) no-repeat;
width: 122px;
height: 76px;
}
#suscribe-video{
	text-align: center;
    margin-top: 100px;
}