/*
* @file
* Colors definition
*
* Include color definitions for the theme
*/

$color--text: #333;
$color--grey: #7e7e7e;
$color--grey-dark: #262626;
$color--grey-light: #a8a8a8;
$color--grey-very-light: #EFEFEF;
$color--background: #F5F5F5;
$color--success: #31c753;
$color--danger: #aa3d2a;

/*
* Color palette
*/
$color--primary: #3fcbd0;
$color--secondary: #f3506a;
$color--third: #d55dae;
$color--fourth: #55A0D5;
$color--fifth: #813DA1;

$color--links: $color--secondary;

/*Font family*/

$font-family: "Helvetica Neue",Helvetica,Arial,'Roboto', sans-serif;

/*Breakpoints*/

$narrow-devices: 768px;
$medium-devices: 1200px;